spring:
  mvc:
    format:
      date: yyyy-MM-dd
      date-time: yyyy-MM-dd HH:mm:ss
      time: HH:mm:ss
    pathmatch:
      matching-strategy: ANT_PATH_MATCHER
  datasource:
    url: jdbc:mysql://localhost:3306/bmv1?createDatabaseIfNotExist=true&connectionTimeZone=UTC
    username: root
    password:
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    database: mysql
    #show-sql: true
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect:
          storage_engine: innodb
        jdbc:
          time_zone: UTC
    open-in-view: true
  #    database-platform: org.hibernate.dialect.MySQL5InnoDBDialect
  servlet:
    multipart:
      max-file-size: 75MB
      max-request-size: 100MB
server:
  port: 8081
#specify the path of the openApi documentation
springdoc:
  api-docs:
    path: /api-docs
  swagger-ui:
    path: /swagger-ui.html
    enabled: true
dir:
  home: ${user.home}
  images:
#    articless: ${user.home}/BM/articles
#    personss: ${user.home}/BM/persons
    articles: ${user.dir}/img/articles
    pf: ${user.dir}/img/pf
    persons: ${user.dir}/img/persons
    invoices: ${user.dir}/img/invoices
    logos: ${user.dir}/img/logos
